body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 25% 15% 5% 25%;
    grid-template-rows: 25% 25% 30% 10% 10%;
}


.left {
    display: grid;
    

}

.img1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url('night.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.caption1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: darkkhaki;
    font-size: 2em;
    color: white;
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 6;
    font-size: 2em;
    color: white;
    font-family: 'Pacifico', cursive;
}

}
.logo {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.nav div {
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    color: white;
    font-family: 'Pacifico', cursive;
    margin-right: 30px;
}

.burger > span {
    display: inline-block;
    display: flex;
    flex-direction: column;
    height: 5px;
    width: 35px;
    background-color: white;
    margin-top: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: white;
    font-size: 1em;
    color: blue;
    font-family: 'Pacifico', cursive;
    padding-left: 10px;
}

.caption2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    font-size: 2em;
    color: peru;
    font-family: 'Lato', sans-serif;
}

.right {
    display: flex;
    flex-direction: column;
}
.caption3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: darkkhaki;
    font-size: 2em;
    color: white;
    font-family: 'Lato', sans-serif;
}

.img2 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: violet;
    background-image: url('ship.png');
    background-size: cover;
    background-position: center;
}